<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width" />
<title>Date Night — {% block title %}Welcome{% endblock %}</title>
<body>
  {% include 'navigation.html' %}
  <section id="main">
    <div id="logo">
      <img src="/static/logo-glow.png" />
      <!-- <div class="tagline">A cover band for grownups who just want to fucking dance.</div> -->
    </div>
    <section class="content-section" id="about">
      <div class="content-image">
        <img src="https://placekitten.com/400/300" />
      </div>
      <div class="content-text">
        <h2>About</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </section>

    <section class="content-section" id="shows">
      <div class="content-text">
        <h2>Shows</h2>
      </div>
      <div class="content-text">
        <ul>
          <li>Show name date</li>
          <li>Show name date</li>
          <li>Show name date</li>
          <li>Show name date</li>
        </ul>
      </div>
    </section>

  <section class="content-section" id="contact">
      <div class="content-text">
        <h2>Contact</h2>
      </div>
      <div class="content-text">
        <ul>
          <li>Show name date</li>
          <li>Show name date</li>
          <li>Show name date</li>
          <li>Show name date</li>
        </ul>
      </div>
    </section>
  </section>
  <canvas class="webgl"></canvas>
  {% include 'vaporscroll.html' %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">
</body>
